
#imgHead {
    display: flex;
    flex-direction: row-reverse;
   vertical-align:;
    
    }

hr{
    height: 10pt;
    color:rgb(179, 179, 179);
    background-color:rgb(179, 179, 179);
    border: none;
}